body{
    overflow-x: hidden;
    margin: 0;
    top: 0;
}
.main{
    background: rgba(63, 130, 39, 0.471);
    color: white;
    justify-content: center;
    border-radius: 10px;
    height: 500px;
   margin-left: 340px;
    text-align: center;
    width: 560px;
    overflow-x: hidden;
}
.loginbody {
    background-repeat: no-repeat;
  
   padding: 15%;
    background-size: cover;
    background-image: url(https://img.freepik.com/free-photo/top-view-oils-natural-leaves-frame_23-2148678043.jpg?t=st=1725424116~exp=1725427716~hmac=bafe0ec5563b989d8c756140c6d16d475904361eff7c881fdb06e68896a6fefa&w=740);
}
.block h1{
    margin-top: 30px;
    padding: 3%;
    font-style:italic ;
    font-size: 46px;
    color: rgb(28, 97, 13);
}
.block h4{
    font-size: 18px;
    margin-right: 190px;
}
.block input{
    border-radius: 10px;
    width: 300px;
}
.signup{
    margin-top: 50px;
    
}
.signup button{
    border-radius: 10px ;
    width: 300px;
}
.signup h3{
    color: rgb(28, 97, 13);
    text-decoration: none;
}
.block2{
    margin-top: 50px;
    padding: 5%;
    

}
.block2 h4{
font-size: 20px;
margin-right: 100px;
}
.block2 input{
    border-radius: 10px;
    width: 300px;
} 
.sect1{
    
    gap:3%;
    
    margin-top: 30px;
    text-align: center;

}
.block2 h4{
    margin-right: 130px;
}
.sect1 input{
     color: black;
    border-radius: 10px;
    width: 200px;
    height: 30px;
}
.signup1{
margin-bottom: 30px;
}
.signup1 button{
    border-radius: 14px;
    width: 150px;
    background-color:  rgb(28, 97, 13);
}
.comment{
    height: 700px;
    background-image: radial-gradient(circle, #bcedbf, #a0c69c, #a7eab3, #92b493, #87ed96);
    background-size: cover;
    background-repeat: no-repeat;
     margin: 20px;
    border-radius: 16px;
    
}
.comment button{
    border-radius: 10px;
    background-color: rgb(163, 163, 232);
   margin-left: 30px;
   width: 130px;
}

.Card{
   padding-top: 30px;

    width: 180px;
   height: 100px;
  
}
.card img{
    border-radius: 50%;
    height: 30px;
    width: 40px;
    border: 190px;
}
.card title{
    font-size: 14px;
}
.head1{
    
    margin-top: 10px;
    position: fixed;
    width: 200px;
    height: 850px;
    border-radius: 16px;
    background-color: #26381dd6;
   
}
.head2{
  margin-top: 110px;
}
.head1 h1{
 color: rgb(250, 252, 250);
 margin-top: 20px;
 padding-top: 20px;
 font-size: 30px;
 margin-left: 30px;
 text-shadow: 5px #f1b6cc;
 text-decoration: none;
 list-style: none;
}

.head1 h2{
    color: rgb(249, 249, 249);
 margin-top: 190px;
 padding-top: 20px;
 font-size: 30px;
 margin-left: 30px;
}
.income{
    background-image: radial-gradient(circle, #ffffff, #f2e8f7, #f0d0e7, #f1b6cc, #f09da8);
   
    
    border-radius: 16px;
    margin-top: 20px;
    height: 200px;
}
.overview2{
   
    margin-top: 10px;
   
    display: flex;
    gap: 390px;
}
.overview2 h1{
    font-size:24px ;
    margin-left: 50px;
    margin-top: 10px;
    color:#aa50ef;
}
.income .card{
    background-image: radial-gradient(circle, #ffffff, #eee8fe, #dfd0fc, #d4b7f7, #cc9df0);
   
    
    width: 250px;
    height: 80px;
    margin-left: 80px;
    font-size: 20px;
}

.subtitle h1{
    font-size: 26px;
}
#dropdown-basic{
    background-image: radial-gradient(circle, #ffffff, #eee8fe, #dfd0fc, #d4b7f7, #cc9df0);
}
.chart{
   display: flex; 
   margin-bottom: 140px;
}
.text1{
    margin-top: 20px;
 display: flex;
 gap: 100px;
 height: 300px;
 border-image:  radial-gradient(circle, #ffffff, #eee8fe, #dfd0fc, #d4b7f7, #cc9df0) ;
}
.text1 h2{
    font-size: 24px;
    color: #aa50ef;
    margin-left: 20px;
    margin-top: 50px;
}
.img1{
display: flex;
}
.img1 img{
    border-radius: 50%;
    height: 80px;
    width:90px;
    padding: 10px;
}
.img2{
    display: flex;
}
.img2 img{
    border-radius: 50%;
    height: 80px;
    width:90px;
    padding: 10px;
}
.main1{
    display:flex;
    flex-wrap: wrap;
}
.a6{
    margin-top: 20px;
    margin-left: 16px;
}
.income2{
    border:2px solid #aa50ef;
    border-radius: 16px;
    height: 300px;
    margin-top: 10px;
}
.dashcontent{
padding-top: 8%;
}
.barchats {
    border: 1px solid #aa50ef;
    height: 300px;
    border-radius: 18px;
    margin-top: 20px;
    background-image: radial-gradient(circle, #ffffff, #f2e8f7, #f0d0e7, #f1b6cc, #f09da8);
}
.out1{
    margin-top: 200px;
    height: 200px;
    margin-left: 380px;
    width:400px ;
    border:2px solid #aa50ef;
    border-radius: 14px;
    background-image: radial-gradient(circle, #ffffff, #eee8fe, #dfd0fc, #d4b7f7, #cc9df0);
}
.out1 h3{
    margin-top: 40px;
    margin-left:100px ;
}
.out2{
    display: flex;
    gap:8%;
    margin-left: 110px;
    margin-top: 50px;
}
.out2 button{
    border-radius: 10px;
    background: radial-gradient(circle, #ffffff, #f2e8f7, #f0d0e7, #f1b6cc, #f09da8); ;
}
.contact{
    display: flex;
   border: 2px solid #f398c1;
border-radius: 16px;
    height: 700px;
    background-color:rgb(173, 71, 71);
    color: #fbcfd5;
}
.contact2 ,.contact1{
    margin-top: 60px;
  padding: 5%;
  width: 700px;
}
#num{
    width: 900px;
}
.contact1  input{
    border-radius: 10px;
    background-color:#fbcfd5;
}
.contact1 button{
    border-radius: 10px;
    background-color:#fbcfd5;
}
.contact h1{
   font-size: 28px;
}
.A1{
    margin-top: 20px;
}
 .main3 img{
    height: 250px;
    width:200px;
    border: 2px solid rgb(237, 153, 181);
    padding: 5%;

 }
 .main2{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    gap: 5%;
 }
 
 .com{
    overflow-x: hidden;
 }
 .step1 h1{
    font-style: italic;
    color: brown;
    font-size: 50px;
 }
.serv1{
    background-image: url(https://img.freepik.com/free-photo/natural-young-woman-portrait_23-2148994729.jpg?t=st=1725437084~exp=1725440684~hmac=2f7d901acb0b6edf897865689bf15e782ef1ae948b6fb38b2a910b8da47a5d56&w=996) ;
background-repeat: no-repeat;
border-radius: 20px;
margin: 40px;
height: 500px;
width: 1000px;
margin-top: 120px;
 }
 /* .serv1:hover .serv2{
    background-color: rgba(241, 183, 177, 0.495);
    height: 500px;
   color: #bbb;
   
 } */
 
 .ser2 h1 {
    
    color: rgb(242, 248, 242);
    font-style: italic;
    font-size: large;
    font-size: 80px;
    font-weight: 100;
    padding-top: 400px;
padding-left: 250px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .ser3 h1{
   
    color: rgb(34, 75, 34);
    font-style: italic;
    font-size: large;
    font-size: 80px;
    font-weight: 200;
   
padding-left: 300px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
 }
 
 .topnavbar{
    z-index: 1000;
    top: 0;
    position: fixed;
 }
 .gallery-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.gallery-container {
    width: 100%;
    overflow: hidden; /* Hide scrollbars */
 margin: 30px;
}

.gallery {
    display: flex;
    transition: transform 0.3s ease;
}

.gallery img {
    max-width: 100%;
    border-radius: 16px;
    height: auto;
    display: block;
    margin-right: 10px; /* Space between images */
    flex-shrink: 0; /* Prevent images from shrinking */
}

.scroll-btn {
    background-color: #ccc;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    z-index: 1; /* Ensure buttons are on top */
    margin: 20px;
}

.scroll-btn:hover {
    background-color: #f8f1f1;
}

.left-btn {
    position: absolute;
    left: 0;
}

.right-btn {
    position: absolute;
    right: 0;
}


